@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-image: url("../src/assets/background-ib.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #001888;
}
